<BR>
<div class="toptitle">
  <center>
    <span>H</span>
    <span>O</span>
    <span>R</span>
    <span>S</span>
    <span>E</span>
    <span></span>
    <span>M</span>
    <span>A</span>
    <span>N</span>
    <span>A</span>
    <span>G</span>
    <span>E</span>
    <span>R</span>
</div>
<p class="divided">
  <span class="divider"></span></p>

<Center>

<H2>Owner Profile {{ owner.firstName }} {{ owner.lastName }}  </H2>

<p class="divided">
  <span class="divider"></span></p>
<BR>
{{#if user.isAdmin}}
    <a href="/manager"><button id="managerbut">Back to View All Owners</button></a>
{{/if}}
<button id="new-horse-but" class="button modal-button new-horse-but"  data-target="#modal">Add New Horse</button>
<a href="/api/logout"><button id="logoutbut">Log Out</button></a>
<div id="ownerContainer">
    <table class="table">
        <BR>
        <thead>
            <tr id=owners>
                <th>Name</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Flakes a.m.</th>
                <th>Flakes p.m.</th>
                <th>Grain Serving</th>
                <th>Last Dewormed</th>
                <th>Last Vaccination</th>
                <th>Last Coggins</th>
                <th>Last Farrier</th>
                <th>Notes</th>
             
             
        </tr>
        </thead>
      

        <tbody>
            {{#each owner.Horses}}
            <tr>
                <td> {{ this.name }} </td>
                <td> {{ this.age }} </td>
                <td> {{ this.breed }} </td>
                <td> {{ this.amFlakes }} </td>
                <td> {{ this.pmFlakes }} </td>
                <td> {{ this.grainServing }} </td>
                <td> {{ this.lastDewormer }} </td>
                <td> {{ this.lastVaccination }} </td>
                <td> {{ this.lastCoggins }} </td>
                <td> {{ this.lastFarrier }} </td>
                <td>
                    <button id="edit-note-but" class="edit-note-but" data-id="{{ this.id }}" data-update="Notes">Add/Edit Note</button>
                    <div id="edit-note-{{ this.id }}" class="modal edit-note-modal">
                       <div class="overlay">
                        <div class="modal-card">
                            
                            <header class="modal-card-head">
                                <p class="modal-card-title"><K>Notes for {{ this.name }}</K></p>
                                <button class="delete close-modal" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="content">
                                    <div class="field"><BR>
        
                                        <div class="control">
                                            
                                            <textarea id="edit-notes-solo-{{this.id}}" class="note-input" type="name">{{ this.Notes }}</textarea>
                                        </div>
                                       
                                    </div>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <button id="modBut" class="button is-success edit-horse-note" type="submit"
                                    data-id="{{ this.id }}">Save</button>
                                <button id="modBut" class="button close-modal">Cancel</button>
                                <BR>
                            </footer>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </td> 
            <tr>
                <td>
                    <button id="edithorse" class="button is-primary modal-button edit-horse-but" data-target="#modal" data-id="{{ this.id }}">Edit {{ this.name }}</button>
                    <div id="edit-horse-{{ this.id }}" class="modal edit-horse-modal">
                        <div class="overlay">
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title"><k>Edit Info for {{ this.name }}</k></p>
                                <button class="delete close-modal" aria-label="close"></button>
                            </header>

                            <section class="modal-card-body">
                                <div class="content">

                                    <div class="field">
                                        <label id="addTitle" class="label"></label>
                                        <label class="label">Name</label>
                                        <div class="control">
                                            <input id="edit-name-{{this.id}}" class="edit-input" type="name" value="{{ this.name }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Age</label>
                                        <div class="control">
                                            <input id="edit-age-{{this.id}}" class="edit-input" type="name" value="{{ this.age }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="">Breed</label>
                                        <div class="control">
                                            <input id="edit-breed-{{this.id}}" class="edit-input" type="name" value="{{ this.breed }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Flakes a.m.</label>
                                        <div class="control">
                                            <input id="edit-flakes-am-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.amFlakes }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Flakes p.m.</label>
                                        <div class="control">
                                            <input id="edit-flakes-pm-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.pmFlakes }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Grain Serving</label>
                                        <div class="control">
                                            <input id="edit-grain-serving-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.grainServing }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Last Dewormed</label>
                                        <div class="control">
                                            <input id="edit-dewormed-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.lastDewormer }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Last Vaccination</label>
                                        <div class="control">
                                            <input id="edit-vaccination-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.lastVaccination }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Last Coggins</label>
                                        <div class="control">
                                            <input id="edit-coggins-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.lastCoggins }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Last Farrier</label>
                                        <div class="control">
                                            <input id="edit-farrier-{{this.id}}" class="edit-input" type="name"
                                                value="{{ this.lastFarrier }}">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Notes</label>
                                        <div class="control">
                                            <input id="edit-notes-{{this.id}}" class="edit-input" type="name" value="{{ this.Notes }}">
                                        </div>
                                    </div>

                                </div>
                            </section>

                            <footer class="modal-card-foot">
                                <button id="modBut" class="button is-success edit-horse" type="submit"
                                    data-id="{{ this.id }}">Save</button>
                                <button id="modBut" class="button close-modal">Cancel</button>
                            </footer>
</div>
                        </div> 
                     </div>
                </td>
                <td>             
</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
               <td> <button  id="settoday" class="setDate" data-id="{{ this.id }}" data-update="lastDewormer">Updated Today <spantwo>&#10003;</span> </button></td>
                <td><button id="settoday"  class="setDate" data-id="{{ this.id }}" data-update="lastVaccination">Updated Today <spantwo>&#10003;</span></button></td>
                <td><button  id="settoday" class="setDate" data-id="{{ this.id }}" data-update="lastCoggins">Updated Today <spantwo>&#10003;</span></button></td>
                <td><button  id="settoday" class="setDate" data-id="{{ this.id }}" data-update="lastFarrier">Updated Today <spantwo>&#10003;</span></button></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</center>
{{!-- Add a Horse modal code --}}
 
<div id="new-horse-modal" class="modal">
  <div class="overlay">
    <div class="modal-card">
        
        <header class="modal-card-head">
            <p class="modal-card-title"><k>New Horse Information</k></p>
            <button id="modBut" class="delete close-modal" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <div class="content">
                <div class="field">
                    <label id="addTitle" class="label"></label>
                   
                    <div class="control">
                        <input id="horse-name" class="owner-input" type="name" placeholder="Name">
                    </div>
                </div>

                <div class="field">
                    
                    <div class="control">
                        <input id="horse-age" class="owner-input" type="name" placeholder="Age">
                    </div>
                </div>

                <div class="field">
                    
                    <div class="control">
                        <input id="horse-breed" class="owner-input" type="name" placeholder="Breed">
                    </div>
                </div>

                <div class="field">
                   <div class="control">
                        <input id="horse-notes" class="owner-input" type="name" placeholder="Notes">
                    </div>
                </div>
            </div>
        </section>

        <footer class="modal-card-foot">
            <button id="modBut" class="button is-success add-horse" type="submit" data-id="{{ owner.id }}">Save</button>
            <button id="modBut" class="button close-modal">Cancel</button>
        </footer>
    
    </div>
</div>
 </div>